#footer-file-attachment-options{
    position: absolute;
    /* top: 300px; */
    bottom: 70px;
    left: 9%;
    /* bottom: 0;
    left: 0; */
    background-color: white;
   /* padding: 30px; */
   /* width: 150px;
   height: 150px; */
   min-width: 150px;
   min-height: 150px;
   border: 1px solid red;
   padding-top: 10px;
   padding-bottom: 10px;

}

.attachment-options{
    background-color: white;
    border: 1px solid red;
    
    display: block;

    height: 30px;
    /* margin: auto; */
    text-align: center;
    /* margin-top: 10px;    */
    padding-top: 10px;
}
.attachment-options:hover{
    background-color: #666;
}
